.page {
   max-width: 1280px;
   font-weight: 400;
   margin: 0 auto;
   font-family: 'Inter', Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   box-sizing: border-box;
   padding: 45px 200px 60px;
   background-color: #000000;
   color: white;
}

@media screen and (max-width:1023px) {
   .page {
      padding: 0;
   }
}
