.profile {
   margin-top: 36.25px;
   display: flex;
   justify-content: space-between;
   width: 100%;
}

@media screen and (max-width:1050px) {
   .profile {
      flex-direction: column;
      margin-top: 38.25px;
   }
}