.profile__edit {
   margin-left: 18px;
   margin-bottom: 16px;
   transition: opacity .3s linear;
}

.profile__edit:hover {
   opacity: .6;
}

@media screen and (max-width:767px) {
   .profile__edit {
      margin-left: 0;
   }
}