.elements {
   display: grid;
   grid-template-columns: repeat(3, 32%);
   margin-top: 51px;
   min-width: 100%;
   grid-row-gap: 20px;
   grid-column-gap: 17px;
   margin: 51px auto 0;
}

@media screen and (max-width:1279px) {
   .elements {
      grid-template-columns: repeat(2, 48.5%);
      grid-column-gap: 12px;
   }
}

@media screen and (max-width:646px) {
   .elements {
      grid-template-columns: 100%;
      grid-column-gap: 0;
      margin-top: 36px;
   }
}