.elements {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-top: 51px;
   max-width: 100%;
   grid-row-gap: 20px;
   grid-column-gap: 17px;
}

@media screen and (max-width:1279px) {
   .elements {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0;
   }
}

@media screen and (max-width:961px) {
   .elements {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
   }
}