.profile__addbutton {
   max-width: 150px;
   max-height: 50px;
   margin: auto 0;
   transition: opacity .3s linear;
}

.profile__addbutton:hover {
   opacity: .6;
}

@media screen and (max-width:767px) {
   .profile__addbutton {
      margin: 0 auto;
   }
}