.popup__text-area {
   min-width: 100%;
   background-color: transparent;
   box-sizing: border-box;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
   padding-bottom: 13px;
   margin: 0 auto 28px;
   font-size: 14px;
   line-height: 17px;
}

@media screen and (max-width:767px) {
   .popup__text-area {
      padding-bottom: 12px;
   }
}
