.popup__container-outer {
   display: flex;
   flex-direction: column;
}

@media screen and (max-width: 1280px) {
   .popup__container-outer {
      min-width: 33.5%;
   }
}

@media screen and (min-width: 1281px) {
   .popup__container-outer {
      width: 430px;
   }
}