.profile__job {
   margin: 0;
   font-size: 18px;
   line-height: 22px;
   text-overflow: ellipsis;
   max-width: 294px;
   overflow: hidden;
   white-space: nowrap;
}

@media screen and (max-width:900px) {
   .profile__job {
      text-align: center;
      margin-bottom: 36px;
      font-size: 14px;
      line-height: 17px;
   }
}